<div *ngIf="user" class="user-view">
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <mdb-card class="testimonial-card user-card mx-auto">
                    <div class="card-up indigo lighten-1">
                        <!--Avatar-->
                        <div class="avatar mx-auto text-center">
                            <img src="../../../assets/user-icon2.png" class="profile-image rounded-circle">
                        </div>
                        <!--Title: Username-->
                        <mdb-card-title class="text-center username-title">
                            <h4>{{ user.username }}</h4>
                        </mdb-card-title>
                    </div>
                    <mdb-card-body class="card-body">
                        <form [formGroup]="validatingForm" class="card-form">
                            <div class="container">
                                <div class="row"> <!-- First and last names -->
                                    <div class="col-sm-5">
                                        <mat-form-field class="full-width-form-field" >
                                            <input matInput placeholder="Nombre:" formControlName="firstName">
                                            <div *ngIf="validatingForm.controls.firstName.touched">
                                                <div class="alert alert-danger" *ngIf="validatingForm.controls.firstName.invalid">El nombre es obligatorio</div>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-7">
                                        <mat-form-field class="full-width-form-field" >
                                            <input matInput placeholder="Apellidos:" formControlName="lastName">
                                            <div *ngIf="validatingForm.controls.lastName.touched">
                                                <div class="alert alert-danger" *ngIf="validatingForm.controls.lastName.invalid">Los apellidos son obligatorio</div>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row"> <!-- Birthdate and email -->
                                    <div class="md-form form-sm col-sm-5">
                                        <mat-form-field class="full-width-form-field">
                                            <input matInput [matDatepicker]="picker" placeholder="Fecha Nac.:" formControlName="birthDate" [value]=user.birthDate>
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="md-form form-sm col-sm-7">
                                        <mat-form-field class="full-width-form-field" >
                                            <input matInput placeholder="e-mail:" formControlName="eMail">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row"> <!-- Phone numbers -->
                                    <div class="col-sm-4">
                                        <mat-form-field class="full-width-form-field" >
                                            <input matInput placeholder="Tlf:" formControlName="phone">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-4">
                                        <mat-form-field class="full-width-form-field" >
                                            <input matInput placeholder="Móvil:" formControlName="mobile">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row"> <!-- Active, admin and dates -->
                                    <div class="col-sm-2">
                                        <div class="checkbox-area">
                                            <mat-checkbox formControlName="active"
                                                value="validatingForm.controls['active'].value">En uso
                                            </mat-checkbox>
                                            <mat-checkbox formControlName="admin"
                                                value="validatingForm.controls['admin'].value">Aministrador
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                    <div class="md-form form-sm col-sm-4 offset-sm-2">
                                        <mat-form-field class="full-width-form-field" >
                                            <input matInput placeholder="Creado:" formControlName="created" readonly>
                                        </mat-form-field>
                                    </div>
                                    <div class="md-form form-sm col-sm-4">
                                        <mat-form-field class="full-width-form-field" >
                                            <input matInput placeholder="Actualizado:" formControlName="updated" readonly>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row" [ngClass]="{'hidden': hidePasswordFields}"> <!-- Password -->
                                    <div class="col-sm-4">
                                        <mat-form-field class="full-width-form-field" >
                                            <input matInput type="password" formControlName="oldPassword" placeholder="Contraseña actual:">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-4">
                                        <mat-form-field class="full-width-form-field" >
                                            <input matInput type="password" formControlName="password" placeholder="Nueva Contraseña:">
                                            <div *ngIf="validatingForm.controls['password'].errors && submitted">
                                                <div class="alert alert-danger" *ngIf="validatingForm.controls['password'].errors.required">La contraseña es obligatoria</div>
                                                <div class="alert alert-danger" *ngIf="validatingForm.controls['password'].errors.minlength">La contraseña debe tener al menos 6 caracteres</div>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-4">
                                        <mat-form-field class="full-width-form-field" >
                                            <input matInput type="password" formControlName="password2" placeholder="Repetir nueva contraseña:">
                                            <div *ngIf="validatingForm.controls['password2'].errors && submitted">
                                                <div class="alert alert-danger" *ngIf="validatingForm.controls['password2'].errors.shouldMatch">Las contraseñas no coinciden</div>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </mdb-card-body>
                    <div class="card-footer">
                            <button class="btn btn-sm btn-outline-danger" (click)="onClickRefresh()" [disabled]="validatingForm.pristine">
                                <i class="fa fa-refresh ml-1"> Refrescar</i>
                            </button>
                            <button class="btn btn-sm btn-outline-dark-green" (click)="onClickSave()" [disabled]="validatingForm.pristine">
                                <i class="fa fa-save ml-1"> Grabar</i>
                            </button>
                            <button class="btn btn-sm btn-outline-dark-green" (click)="onClickChangePassword()">
                                <i class="fa fa-key ml-1"> Cambiar contraseña</i>
                            </button>
                        </div>
            </mdb-card>
        </div>
    </div>
</div>

