<!--Modal: Login Form #form="mdb-modal" -->
<div mdbModal #form="mdb-modal" [config]="{ show: true }" class="modal fade" id="modalLogin"
    tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal login-form" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title"><i class="fa fa-user"></i>Inicio de sesión</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal"
                    aria-label="Close" (click)="form.hide()" [routerLink]="['/']">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <div class="md-form form-sm">
                    <i class="fa fa-user prefix"></i>
                    <input mdbInput type="text" id="username" class="form-control"
                        [(ngModel)]="model.userName" >
                    <label for="username" class="">Usuario</label>
                </div>

                <div class="md-form form-sm">
                    <i class="fa fa-lock prefix"></i>
                    <input mdbInput type="password" id="form31" class="form-control" [(ngModel)]="model.password" >
                    <label for="form31">Contraseña</label>
                </div>

                <div class="text-center mt-2">
                    <button class="btn btn-info waves-light" mdbRippleRadius (click)="onLogin()">Iniciar sesión
                        <i class="fa fa-sign-in ml-1"></i>
                    </button>
                </div>

            </div>
            <!--Footer-->
            <div class="modal-footer">
                <div class="options text-center text-md-right mt-1">
                    <p>¿No tienes cuenta? <a [routerLink]="['/register']">Registro</a></p>
                    <p>¿Olvidaste la <a [routerLink]="['/forgot']">contraseña?</a></p>
                </div>
                <button type="button" class="btn btn-outline-info ml-auto" data-dismiss="modal"
                    (click)="form.hide()" [routerLink]="['/']" mdbRippleRadius>Cerrar
                </button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Login Form-->