<div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title w-100" id="myModalLabel">Introduzca nueva contraseña para el usuario: {{username}}</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="passwordsForm">
            <div class="md-form form-sm">
                <mat-form-field class="full-width-form-field" >
                    <input matInput type="password" formControlName="password" placeholder="Nueva Contraseña:" required>
                    <mat-error *ngFor="let validation of validation_messages.password">
                        <mat-error *ngIf="passwordsForm.get('password').hasError(validation.type) && (passwordsForm.get('password').dirty || passwordsForm.get('password').touched)">
                            {{validation.message}}
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="md-form form-sm">
                <mat-form-field class="full-width-form-field" >
                    <input matInput type="password" formControlName="password2" placeholder="Repetir nueva contraseña:" required>
                    <mat-error *ngFor="let validation of validation_messages.password2">
                        <mat-error *ngIf="passwordsForm.get('password2').hasError(validation.type) && (passwordsForm.get('password2').dirty || passwordsForm.get('password2').touched)">
                            {{validation.message}}
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div class="modal-footer">
      <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="modalRef.hide()" mdbWavesEffect>Cancelar</button>
      <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect (click)="onChangePassword()">Cambiar!</button>
    </div>
  </div>
