/* Application-wide Styles */
@import './variables';

/* ag-grid styles */
.ag-row-hover {
  /* putting in !important so it overrides the theme's styling as it hovers the row also */
  background-color: #dfdfff !important;
}

/* .ag-column-hover {
  background-color: #dfffdf;
} */
/* ag-grid styles */

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #faf3f375;
}

/* everywhere else */

* {
  font-family: Arial, Helvetica, sans-serif;
}

/* To separate a button to the other buttons at its right*/

.btn-space {
  margin-right: 50px;
}

/* Margin for all card bodies. */
div.card-body {
  margin: 20px 20px 20px 20px;
}

/* Config for all form fields used in cards*/
.full-width-form-field {
  width: 100%;
  padding: 20px;
}