<!--Modal: Login Form #form="mdb-modal" -->
<div mdbModal #form="mdb-modal" [config]="{ show: true }" class="modal fade" id="modalLogin"
    tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal login-form" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title"><i class="fa fa-user"></i>Contraseña olvidada</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal"
                    aria-label="Close" (click)="form.hide()" [routerLink]="['/']">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <div class="md-form form-sm">
                  <p>Introduzca el nombre de usuario o correo al que enviaremos la nueva contraseña.</p>
                </div>
                <div class="md-form form-sm">
                    <i class="fa fa-user prefix"></i>
                    <input mdbInput type="text" id="user" class="form-control" [(ngModel)]="model.username" value="">
                    <label for="username" class="">Nombre de usuario</label>
                </div>

                <div class="md-form form-sm">
                    <i class="fa fa-envelope prefix"></i>
                    <input mdbInput type="email" id="email" class="form-control" [(ngModel)]="model.email" value="">
                    <label for="form31">Correo</label>
                </div>
            </div>
            <!--Footer-->
            <div class="modal-footer">
              <button class="btn btn-info waves-light" mdbRippleRadius (click)="onLogin()">Enviar correo
                  <i class="fa fa-sign-in ml-1"></i>
              </button>
              <button type="button" class="btn btn-outline-info ml-auto" data-dismiss="modal"
                  (click)="form.hide()" [routerLink]="['/']" mdbRippleRadius>Cancelar
              </button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Login Form-->
