<!--Modal: Login Form #form="mdb-modal" -->
<div mdbModal #form="mdb-modal" [config]="{ show: true }" class="modal fade" id="modalLogin"
    tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal login-form" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title"><i class="fa fa-user"></i>Contraseña olvidada</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal"
                    aria-label="Close" (click)="form.hide()" [routerLink]="['/']">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <form [formGroup]="forgotForm">
                  <div class="md-form form-sm">
                    <p>Introduzca el nombre de usuario o correo al que enviaremos la nueva contraseña.</p>
                  </div>
                  <div class="md-form form-sm">
                      <mat-form-field class="full-width-form-field" >
                          <mat-icon matPrefix><i class="fa fa-user"></i></mat-icon>
                          <input matInput type="text" formControlName="username" placeholder="Nombre de usuario:" autofocus required>
                          <mat-error *ngFor="let validation of validation_messages.username">
                              <mat-error *ngIf="forgotForm.get('username').hasError(validation.type) && (forgotForm.get('username').dirty || forgotForm.get('username').touched)">
                                  {{validation.message}}
                              </mat-error>
                          </mat-error>
                      </mat-form-field>
                  </div>
                  <div class="md-form form-sm">
                      <mat-form-field class="full-width-form-field" >
                          <mat-icon matPrefix><i class="fa fa-envelope"></i></mat-icon>
                          <input matInput type="email" formControlName="email" placeholder="Correo electrónico:" required>
                          <mat-error *ngFor="let validation of validation_messages.email">
                              <mat-error *ngIf="forgotForm.get('email').hasError(validation.type) && (forgotForm.get('email').dirty || forgotForm.get('email').touched)">
                                  {{validation.message}}
                              </mat-error>
                          </mat-error>
                      </mat-form-field>
                  </div>
                </form>
            </div>
            <!--Footer-->
            <div class="modal-footer">
              <button class="btn btn-info waves-light" mdbRippleRadius (click)="onResetPassword()" [disabled]="forgotForm.pristine || forgotForm.invalid">
                  Enviar correo
                  <i class="fa fa-sign-in ml-1"></i>
              </button>
              <button type="button" class="btn btn-outline-info ml-auto" data-dismiss="modal"
                  (click)="form.hide()" [routerLink]="['/']" mdbRippleRadius>Cancelar
              </button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Login Form-->
