<footer>
  <section id="footer">
    <div class="first">
      <a href="/">TriAlhambra site</a>by ugeHidalgo 2019.
    </div>
    <hr>
      <div class="modal-body mb-0 text-center">
        <!--Facebook-->
        <a type="button" mdbBtn floating="true" class="btn-fb waves-light" mdbWavesEffect
            href="https://facebook.com/ugehidalgo" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
        <!--Twitter-->
        <a type="button" mdbBtn floating="true" class="btn-tw waves-light" mdbWavesEffect
            href="https://twitter.com/ugehidalgo" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
        <!--Linkedin-->
        <a type="button" mdbBtn floating="true" class="btn-li waves-light" mdbWavesEffect
            href="https://www.linkedin.com/in/ugehidalgo/" target="_blank">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <!--Instagram-->
        <a type="button" mdbBtn floating="true" class="btn-ins waves-light" mdbWavesEffect
            href="https://www.instagram.com/ugehidalgo/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <!--Github-->
        <a type="button" mdbBtn floating="true" class="btn-git waves-light" mdbWavesEffect>
          <i class="fab fa-github"></i>
        </a>
        <!--Comments-->
        <a type="button" mdbBtn floating="true" class="btn-comm waves-light" mdbWavesEffect
            href="https://github.com/ugeHidalgo" target="_blank">
          <i class="fas fa-comments"></i>
        </a>
        <!--Email-->
        <a type="button" mdbBtn floating="true" class="btn-email waves-light" mdbWavesEffect
            href="mailto:ugehidalgo@gmail.com">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
    <hr>
    <div class="copyright">
      Copyright &copy; 2019 <a href="http://ugeblog.blogspot.com" target="_blank">UgeHidalgo</a> All screenshots &copy; of their respective owners.
    </div>
  </section>
</footer>
