<footer>
  <section id="footer">
    <div class="first">
      <a href="/">TrAlhambra site</a>by ugeHidalgo 2019.
    </div>
    <hr>
    <div class="center">
      <div class="flex-container">
        <a class="fa fa-twitter" href="https://twitter.com/ugehidalgo" target="_blank"></a>
        <a class="fa fa-facebook" href="https://facebook.com/ugehidalgo" target="_blank"></a>
        <a class="fa fa-linkedin" href="https://www.linkedin.com/in/ugehidalgo/" target="_blank"></a>
        <a class="fa fa-github" href="https://github.com/ugeHidalgo" target="_blank"></a>
        <a class="fa fa-envelope-o" href="mailto:ugehidalgo@gmail.com"></a>
      </div>
    </div>
    <hr>
    <div class="copyright">
      Copyright &copy; 2019 <a href="http://ugeblog.blogspot.com" target="_blank">UgeHidalgo</a> All screenshots &copy; of their respective owners.
    </div>
  </section>
</footer>
