div.center {
  display: table;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}

hr {
  width: 25%;
}

footer {
  background-color: lightgray;
  padding: 10px 0;
  text-align: center;
}

footer a {
  color: #70726F;
  font-size: 20px;
  padding: 10px;
  transition: all .5s ease;
}

footer a:hover {
  color: black;
}
